*{
    margin: 0;
}
.start{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 20px;
}
.otd{
    display: flex;
     align-items: center;
}
button{
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 15px;
    width: 180px;
    height: 30px;
   margin-left: 10px;
}
.start2{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0px auto;
    justify-content: space-between;
}
.od{
    display: none;
}
.start3{
    display: flex;
    
    margin: 50px 0px;
}
.start3 p{
    margin-left: 64px;
}
.start3 a{
    color: black;
    text-decoration: none;
    margin: 0px 2px;

}
select{
    background-color: white;
    border: 1px solid white;
}
.h1{
    margin-left: 64px;
}
.bl{
    background-color: #3BB96D;
    color: white;
    width: 560px;
    height: 373px;
    display: flex;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
    
}
.bl img{
width: 248px;

height: 262px;
}
.bl p,h4{
    margin: 20px 0px;
}
.bi{
    margin-left: 10px;
}
.bi button{
    background-color: white;
    margin-left: 2px;
    border: 1px solid #3BB96D;
    color: #3BB96D;
}
.postart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.bl2{
    background-color: #27C8DA;
}
.i{
    font-size: 60px;
    margin-bottom: 10px;
}
.kor{
    display: flex;
   width: 90%;
   gap: 20px;
   justify-content: center;
   margin-bottom: 200px;
}
.box{
    box-shadow: 0px 0px 2px black;
    
    padding: 10px;
}
.h2{
    margin-left: 140px;
    margin-bottom: 20px;
}
.xat {
  width: 40px;
  height: 2px;
  background: #34b36b;
  margin-top: 10px;
  margin-right: 20px;
}
.tel h3{
color: #63E6BE;
}
.tel p{
    margin-bottom: 10px;
}
.tel{
    width: 221px;
    height: 208px;
    border: 1px solid black;
    padding: 10px;

}
.h4{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.center{
    background-color: #272727;
    width: 100%;
    height: 500px;
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 100px;
   margin-bottom: 70px;
}
.h5{
margin-bottom: 50px;
color: white;
font-size: 19px;


}
.p{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    margin-bottom: 20px;
}
.df{
    display: flex;
   
}
.left{
    margin-right: 20px;
}.center1{
   display: flex;
   flex-direction: column;
   margin-top: 50px;
}
.h6{
    margin-bottom: 30px;
    margin-left: 60px;
}
.cyrat4{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.pend{
    background-color: #272727;
    width: 90%;
    height: 300px;
    margin: 100px auto;
    border-radius: 50px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.os{
background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 15px;
    width: 180px;
    height: 30px;
    margin-left: 0px;
}
.lev p{
    background-color: white;
    color: #8D979F;
    border: 1px solid white;
    border-radius: 15px;
    width: 169px;
    height: 20px;
    padding: 5px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.prav p{
    background-color: white;
    color: #8D979F;
    border: 1px solid white;
    border-radius: 15px;
    width: 169px;
    height: 20px;
    padding: 5px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.sered{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
a{
    color: #34b36b;
}
.end{
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    justify-content: center;
}
.vend{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: 0px auto;
}
.vend p{
    margin-bottom: 5px;
    margin-top: 5px;
}
.nakones{
    display: flex;
    gap: 60px;
}
.end{
    background-color: #3BB96D;
    width: 100%;
    height: 50vh;
}