@media(max-width: 500px){
    .start{
        display: none;
    }
    .start2 p{
    display: none;
    }
    .od{
        display: block;
    }
    .a1{
        display: none;
        
    }
   .a3{
        display: none;
    }
    .start3{
        text-align: start;
        display: flex;
        margin-left: 0px;
    }
    .h1{
        margin-left: 20px;
    }
    .postart{
        display: flex;
        flex-direction: column;
    }
    .bl{
        display: flex;
        flex-direction: column;
        width: 388px;
        height: 518px;
        padding-top: 20px;
    }
    .kor{
        display: flex;
        flex-direction: column;
        margin: 10px;
        margin-bottom: 200px;
    }
    .h4{
        display: flex;
        flex-direction: column;
       
    }
    .tel{
        width: 350px;
    }
    .df{
    display: flex;
    flex-direction: column;
    }
    .center img{
        display: none;
    }
.center{
    width: 389px;
    height: 1000px;
}
.cyrat4{
   gap: 5px;
}
.cyrat4 img{
    width: 200px;
    height: 300px;
}
    .pend img{
        display: none;
        
    }
    .pend{
        width: 370px;
        height: 440px;
        border-radius: 30px;
    }
.sered{
    display: flex;
    flex-direction: column-reverse;
}
.nakones{
    margin: 20px 0px ;
}
.div1{
    display: block;
}
.end{
display: block;
}
.vend{
    display: block;
}
    
}
